.navWrap{
  min-width: 18rem;
  height: 100vh;
  background: var(--gray-900) !important;

  display: flex;
  flex-direction: column;
}

.navbarLeft{

  display: flex;
  justify-content: center;
  align-items: center;
  color: red;
}

.navHeading{
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 1rem;
  color: white;
  font-size: 1.5rem;
  font-weight: 500;
  text-transform: uppercase;

  img{
    width: 1.3rem;
    height: 1.5rem;
  }
}

.iconsWrap{
  display: flex;
  justify-content: space-between;
  gap: 1rem;

  span{
    svg{
      width: 1.1rem;
      height: 1.1rem;
      color: var(--gray-100) !important; 
    }
  }
}


.headerOpenFlags{
  background: var(--gray-500) !important;

  button{
    span{
      color: var(--gray-100);
      margin-left: -1rem;

      svg{
        color: var(--gray-100) !important; 
      }
      & + span{
        margin-left: -0.4rem;
      }
    }
  }
  p{
    width: 100%;
    margin: 0;
    margin-left: -2rem;
    text-align: center;
    color: var(--gray-100);
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.9rem;
  }
}

.filter{
 span{
  svg{
    color: var(--gray-200) !important;
  }
 }
 input{
  background: var(--gray-1000);
  color: var(--gray-200);
 }
}

.collapseSideBar{
  pre{
    background: transparent;
    display: flex;
    flex-wrap: wrap;
    gap: 0.4rem;
   
    span{
      cursor: pointer;
      font-size: 0.9rem;
      span{
        padding: 0.2rem;
        
      }
    }
  }
}

.tagSideMenu {
  background: var(--gray-500) !important;
}
